@import "variables";
@import "controls";
@import "forms";
@import "text";

html, body {
  height: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.flex-container {
  display: flex;
}

.data-container {
  padding: 5px 15px 25px;
  width: 80%;
  margin: 15px auto 5px;
  background: rgba($gray-100, .5);

  .title {
    font-size: 20px;
  }
}
