html, body {
  height: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

form {
  padding: 25px;
}

input[type="text"], input[type="number"], input[type="search"] {
  padding: 10px;
  margin: 2px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px 0 #00e600;

  &:hover {
    //box-shadow: 0 0 3px 0 #aabcff;
  }
}

button {
  padding: 10px;
  border: none;
  margin: 2px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #00e600;
  font-weight: bold;
  transition: 0.3s ease-out;

  &.outline {
    background: transparent;

    &:hover:not(:disabled) {
      background: rgba(#5352ed, 0.3);
      box-shadow: 0 0 2px 0 #5352ed;
    }
  }

  &.primary {
    background: #3742fa;
    color: white;

    &:hover:not(:disabled) {
      background: rgba(#3742fa, 0.2);
      color: black;
    }
  }

  &:disabled {
    box-shadow: 0 0 2px 0 gray;
    background: gray;
    color: silver;
  }
}

#root {
  height: 100%;
}

.flex-container {
  display: flex;
}

.data-container {
  padding: 25px;
}

.text-bold {
  font-weight: bold;
}

.text-green {
  color: green;
}
